.app-container {
    margin: 8rem auto;
    max-width: 120rem;
    background-color: var(--color-Grey-light-2);
    box-shadow: 0 6rem 6rem rgba(black, 0.4);
    border-radius: var(--radius);
    overflow: hidden;

    min-height: 100vh;
}

.header {
    width: 100%;
    min-height: 8vh;
}

.nav-main-container {
    display: flex;
}

.navigation {
    background-color: var(--color-Grey-dark-1);
    flex: 0 0 18%;
    height: 100%;
}

.main {
    background-color: var(--color-White);
    flex: 1;
}
